@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-indigo-600 dark:from-blue-400 dark:to-indigo-400;
}

.bg-glow {
  @apply absolute -z-10 blur-[100px] opacity-20 dark:opacity-30;
}

.icon-merged {
  color: #2ea44f; /* Or use your theme color */
}
.icon-pr-open {
  color: #0969da;
}
.icon-pr-closed {
  color: #cf222e;
}
.icon-issue-open {
  color: #2ea44f;
}
.icon-issue-closed {
  color: #cf222e;
}
